body{
  background-color: #3d3060   ;
  color: antiquewhite;
  font-family: 'Inter', sans-serif;
}
.App {
  text-align: center;
  

}

.containerF{
  display: block;
  float:none;
  margin: 20px auto;
  justify-content: center;
  width: 100%;
}

.inputF{
  position: absolute;
  left: 10%;
  right: 20%;
 

 
}
input{
  background:#725d9ea8;
  width: 40%;
  height: 50px;
  border: none;
  outline: none;
  border-radius: 25px 0 0 25px;
  color: rgb(255, 255, 255);
}
.buttonF{
  position:absolute;
  border-radius: 0 25px 25px 0;
  width: 15%;
  height: 52px;
  border: none;
  outline: none;
  cursor: pointer;
  background:#8171a7 ;
  color: rgb(252, 252, 252);
}
.navbar{
    background-color: #544678;
    overflow: hidden;
    color: antiquewhite;
    position: sticky;
    top: 0;
    width: 100%;
}

.card{
  display: block;
  float:none;
  margin: 100px auto;
  background-color: rgba(46, 40, 63, 0.6)  ;
  border-radius: 15px ;
  display: grid;
  grid-template-columns: auto auto auto;
  width:60%;
  min-width: 100px;
  height: 100%;
  max-height: 580px;
 
}
.Xdatos{
  justify-content: center;
  position: absolute;
  top: 30%;
  left: 18%;
  right: 20%;
}

.img{

  width: 80px;
  height: 80px;
  margin: 200px 10px 15px 10px;
  animation-name: textito;
  animation-duration: 7s;
  animation-iteration-count: infinite
 
}
.col1{
  justify-content: center;
  display: flex;
  margin-right: 30px;
  margin-left: 30px;

  
 
}
@keyframes textito {
  0%{
    margin: 200px 10px 15px 10px;
  }
  25%{
    margin: 250px 10px 15px 10px;
  }
  50%{
    margin: 300px 10px 15px 10px;
  }
  75%{
    margin: 250px 10px 15px 10px;
  }
  100%{
    margin: 200px 10px 15px 10px;
  }


}

@keyframes textito2{
  0%{
    margin: 0px 10px 0px 10px;
  }
  25%{
    margin: 0px 60px 0px 10px;
  }
  50%{
    margin: 0px 10px 0px 10px;
  }
  75%{
    margin: 0px 0px 0px 60px;
  }
  100%{
    margin: 0px 10px 0px 10px;
  }
}
.h3{
   position: absolute;
   padding-top: 50px;
  font-size: auto;
  max-width: 200px;
}
.p{
    position: absolute;
  margin-top: 50px;
}
.h1{
    position: absolute;
  margin-top: 150px;
  font-size: auto;
}
.card-desc{
  position: absolute;
  margin-top: 190px;
  justify-content: center;
}

hr{
  margin-left: -190px;
}
.card-text{
margin: 20px 0px 0px 60px;
text-align: center;
font-size: 20;
}
.card_body,.down{
  float: left;
}
.down{ 
   border-left:rgb(255, 255, 255) 5px dotted;
   margin-right: 30px;
   float: left;
}
.col{
  margin: 0px 0px 25px 0px;
text-align: center;
}
.imagen{
  margin: 0px 10px 0px 10px;
  animation-name: textito2;
  animation-duration: 7s;
  animation-iteration-count: infinite
}
.description{
  margin: 0px 10px 5px 10px;
  display: flex;
  justify-content: center;
}
.temp{
  margin: 0px 10px 5px 10px;
}
.datee{
  margin: 20px 10px 5px 10px;
}
.col2{
  border-left:rgb(255, 255, 255) 5px dotted;
  margin-left: 10px;
}